{% extends 'layout.html.twig' %}

{% block title %}Evaluation - Movie Rating{% endblock %}

{% block pageTitle %}<h2>Evaluer : {{movie.title}}</h2>{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <img style="height: 370px; width: 100%; display: block;" src="https://lorempixel.com/540/370/" alt="">
  </div>
  <div class="col-md-6">
    <h3></h3>
    {{ form_start(evaluationForm) }}
        <div class="row">
          <div class="col-md-10">
            {{ form_row(evaluationForm.grade) }}
          </div>
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <h2><output id="result" class="font-weight-bold">--</output></h2>
          </div>
        </div>

        {{ form_row(evaluationForm.comment) }}
        <div class="d-flex justify-content-between">
          <a class="btn btn-lg btn-primary" href="{{app.request.headers.get('referer')}}">Annuler</a>
          <button class="btn btn-lg btn-primary">Enregistrer</button>
        </div>
    {{ form_end(evaluationForm) }}
  </div>
</div>

{% endblock %}
