{% extends 'layout.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block pageTitle %}{{ movie.title }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <img style="height: 370px; width: 100%; display: block;" src="https://lorempixel.com/540/370/" alt="">
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Détails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#evaluations">Evaluations</a>
      </li>

    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <p>{{ movie.sumary }}</p>
        <p>Note moyenne : {{ movie.getAverage() }}</p>
        <p><a href="{{path('evaluation', {'id': movie.id})}}">Evaluer</a></p>
      </div>
      <div class="tab-pane fade" id="evaluations">
        <h3>Les évaluations</h3>
        <ul>
        {% for evaluation in movie.evaluations %}
            <li>{{evaluation.grade}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
