{% extends 'layout.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block pageTitle %}
<div class="row justify-content-between">
  <h2>{{ movie.title }}</h2>
  <div class="d-flex align-items-center">
    <a href="{{path('index')}}" class="btn btn-primary">Retour à la liste</a>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <img style="height: 370px; width: 100%; display: block;" src="https://lorempixel.com/540/370/" alt="">
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Détails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#evaluations">Evaluations</a>
      </li>

    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <div class="p-2">
            <div class="d-flex justify-content-between mb-3">
              <h5>Note moyenne : {{ movie.getAverage() }}</h5>
              <div class="">
                <a href="{{path('evaluation', {'id': movie.id})}}" class="btn btn-info"><i class="fas fa-star-half-alt"></i> Evaluer ce film</a>
              </div>
            </div>
            <p>{{ movie.sumary }}</p>
        </div>
      </div>
      <div class="tab-pane fade" id="evaluations">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th scope="col">Note sur 10</th>
              <th scope="col">Commentaire</th>
              <th scope="col">Auteur</th>
            </tr>
          </thead>
          <tbody>
            //3 bests evaluations
            {% for evaluation in movie.evaluations|sortByField('grade', 'desc')|slice(0,3) %}
            <tr>
              <td scope="row">
                {% for i  in 1..evaluation.grade %}
                    <i class="fas fa-star text-warning"></i>
                {% endfor %}
              </td>
              <td>{{evaluation.comment}}</td>
              <td>{{evaluation.user.username}}</td>
            </tr>
            {% endfor %}

            //3 worst evaluations
            {% for evaluation in movie.evaluations|sortByField('grade', 'asc')|slice(0,3) %}
            <tr class="table-danger">
              <td scope="row">
                {% for i  in 1..evaluation.grade %}
                    <i class="fas fa-star text-warning"></i>
                {% endfor %}
              </td>
              <td>{{evaluation.comment}}</td>
              <td>{{evaluation.user.username}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
