{% extends 'layout.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block pageTitle %}{{ movie.title }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <img style="height: 370px; width: 100%; display: block;" src="https://lorempixel.com/540/370/" alt="">
  </div>
  <div class="col-md-6">
    <div class="">
      <p class="card-text">{{ movie.sumary }} </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card border-primary mb-3" >
          <div class="card-header">Evaluation</div>
          <div class="card-body">
            <h4 class="card-title">{{ movie.title }} </h4>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-primary mb-3" >
          <div class="card-header">Moyenne</div>
          <div class="card-body">
            <h4 class="card-title">{{ movie.title }} </h4>

          </div>
        </div>
      </div>
      <a href="{{path('evaluation', {'id': movie.id})}}">Evaluer</a>
    </div>

  </div>
</div>

{% endblock %}
